/* Base Styles */
@import url("https://fonts.googleapis.com/css?family=Oxygen");
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

img {
  width: 35px; }

h4 {
  margin-top: 30px;
  float: right;
  margin-right: 5%; }

a {
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  height: 40px; }

button {
  height: 50px;
  text-align: center; }
  button:hover, button:active, button:focus {
    outline: none; }
  button#left-button {
    min-width: 30%;
    margin-left: 45%; }
  button#right-button {
    color: #fff;
    margin-left: 80%; }
  @media (max-width: 500px) {
    button#left-button, button#right-button {
      width: 100%;
      margin: 0 0 5px 0; } }

body {
  font-family: "Oxygen", Helvetica, Arial, sans-serif; }

h1 {
  font-size: 120px; }

p {
  font-size: 24px;
  font-weight: bold; }
  @media (max-width: 500px) {
    p {
      font-size: 20px; } }

h4 {
  font-size: 18px; }

.upper-left, .lower, .lower-left {
  flex: 1 0; }

.main, .upper, .lower {
  display: flex; }

.main {
  flex-direction: column;
  height: 350px;
  width: 60%;
  margin: 150px auto;
  background-color: #fff;
  border-radius: 5px;
  padding: 25px; }
  @media (max-width: 700px) {
    .main {
      height: 450px; } }
  @media (max-width: 500px) {
    .main {
      margin: 10px auto;
      width: 95%;
      height: 450px; } }

.upper {
  flex: 4 0; }
  .upper-left {
    text-align: center; }
  .upper-right {
    flex: 4 0;
    padding-top: 30px;
    padding-right: 50px; }
    @media (max-width: 500px) {
      .upper-right {
        padding-right: 5px;
        padding-left: 10px; } }
  @media (max-width: 500px) {
    .upper {
      flex: 3 0; } }

@media (max-width: 500px) {
  .lower-left {
    flex: 1 100%;
    display: flex;
    padding-right: 0; } }
.lower-right {
  flex: 3 0;
  padding-right: 10%; }
  @media (max-width: 500px) {
    .lower-right {
      flex: 1 100%;
      display: flex;
      padding-right: 0; } }
@media (max-width: 500px) {
  .lower {
    flex-wrap: wrap; } }

/* color transitions */
.color1 {
  background-color: #873081;
  transition: background-color 1000ms ease-in; }

.fontColor1 {
  color: #873081;
  transition: background-color 1000ms ease-in; }

.color2 {
  background-color: #723535;
  transition: background-color 1000ms ease-in; }

.fontColor2 {
  color: #723535;
  transition: background-color 1000ms ease-in; }

.color3 {
  background-color: #bfe25f;
  transition: background-color 1000ms ease-in; }

.fontColor3 {
  color: #bfe25f;
  transition: background-color 1000ms ease-in; }

.color4 {
  background-color: pink;
  transition: background-color 1000ms ease-in; }

.fontColor4 {
  color: pink;
  transition: background-color 1000ms ease-in; }

.color5 {
  background-color: orange;
  transition: background-color 1000ms ease-in; }

.fontColor5 {
  color: orange;
  transition: background-color 1000ms ease-in; }

/* button transitions */
#left-button, #right-button {
  opacity: 1;
  transition-property: opacity, transform;
  transition-duration: .3s; }
  #left-button:hover, #left-button:active, #left-button:focus, #right-button:hover, #right-button:active, #right-button:focus {
    transform: scale(1.2);
    opacity: .8; }

/*# sourceMappingURL=application.css.map */
