@mixin font-family($family) {
	@import url('#{$font-path}#{$family}');
}

@mixin text($size, $weight: null) {
	font-size: $size;
	font-weight: $weight;
}

@mixin color($color) {
	color: $color;
	-webkit-transition: background-color 1000ms ease-in;
	transition: background-color 1000ms ease-in;
}

@mixin background($color) {
	background-color: $color;
	-webkit-transition: background-color 1000ms ease-in;
	transition: background-color 1000ms ease-in;
}

@mixin opacity($value) {
	opacity: $value;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$value * 100})";
}

@mixin transform($value) {
	-webkit-transform: scale($value);
	        transform: scale($value);
}

@mixin transition($property, $duration:.3s, $timing:ease-in-out, $delay: null) {
	-moz-transition:    $duration, $property, $timing, $delay;
    -o-transition:      $duration, $property, $timing, $delay;
    -webkit-transition: $duration, $property, $timing, $delay;
    transition:         $duration, $property, $timing, $delay;
}


@mixin flexbox($flex-direction: row, $justify-content: null, $display: flex) {
	
	display: $display;

	@if $flex-direction == row-reverse {
		-webkit-box-direction: reverse;
		-webkit-box-orient: horizontal;
	} @else if $flex-direction == column {
		-webkit-box-direction: normal;
		-webkit-box-orient: vertical;
	} @else if $flex-direction == column-reverse {
		-webkit-box-direction: reverse;
		-webkit-box-orient: vertical;
	} @else {
		-webkit-box-direction: normal;
		-webkit-box-orient: horizontal;
	}
	-webkit-flex-direction: $flex-direction;
	   -moz-flex-direction: $flex-direction;
	    -ms-flex-direction: $flex-direction;
	        flex-direction: $flex-direction;

	      -webkit-box-pack: $justify-content;
  	    	 -ms-flex-pack: $justify-content;
  	       justify-content: $justify-content;
}

@mixin flex($grow, $basis) {
	-webkit-box-flex: $grow;
	        -ms-flex: $grow $basis;
	            flex: $grow $basis;
}