
.main {
  @extend %display;
  @include flex-direction(column);
  height: 350px;
  width: 60%;
  max-width: 700px;
  margin: 150px auto;
  background-color: $white;
  border-radius: 5px;
  padding: 25px;
  @media #{$break-laptop} {
    height: 450px;
  }
  @media #{$break-tablet} {
    margin: 10px auto;
    width: 95%;
  }
}

.upper {
  @extend %display;
  @include flex(4, 0);
  &-left {
    @include flex(1, 0);
    @extend %centered;
  }
  &-right {
    @include flex(4, 0);
    padding-top: 30px;
    padding-right: 50px;
    @media #{$break-tablet} {
      padding-right: 5px;
      padding-left: 10px;
    }
  }
  @media #{$break-tablet} {
    flex: 3 0;
  }
}

.lower {
  @extend %display;
  @include flex(1, 0);
  &-left {
    @include flex(1, 0); 
    @media #{$break-tablet} {
      flex: 1 100%;
      display: flex;
      padding-right: 0;
    }
  }
  &-right {
    @include flex(3, 0);
    padding-right: 10%;
    @media #{$break-tablet} {
      flex: 1 100%;
      display: flex;
      padding-right: 0;
    }
  }
  @media #{$break-tablet} {
    flex-wrap: wrap;
  }
}

