//colors

$purple : rgb(135, 48, 129);
$red	: rgb(114, 53, 53);
$green	: rgb(191, 226, 95);
$pink	: pink;
$orange	: orange;
$white	: #fff;


//font-stack

$stack-sans-serif	:  Helvetica, Arial, sans-serif;
$stack-oxygen		:  'Oxygen', $stack-sans-serif;


//Asset paths

$font-path			:  'https://fonts.googleapis.com/css?family=';


$break-narrow		:  '(max-width: 500px)';
$break-wide			:  '(max-width: 700px)';

