/* color transitions */

.color1 {
  @include background($purple);
}

.fontColor1 {
   @include color($purple);
}

.color2 {
  @include background($red);   
}

.fontColor2 {
  @include color($red);
}

.color3 {
  @include background($green);
}

.fontColor3 {
  @include color($green);
}

.color4 {
  @include background($pink);  
}

.fontColor4 {
  @include color($pink);
}

.color5 {
  @include background($orange);  
}

.fontColor5 {
  @include color($orange);
}

/* button transitions */
 
 #left-button, #right-button {  
    opacity: 1;
    transition-property: opacity, transform;
    transition-duration: .3s; 
    &:hover, &:active, &:focus {
      transform: scale(1.2);
      opacity: .8;
    } 
  }


 



